{% extends "blank.html" %}

{% block content %}

<h5 class="widget-name"><i class="icon-film"></i>广告宣传视频</h5>

<!-- Video with titles -->
<div class="media row-fluid">

    <div class="span3">
        <div class="video widget">
            <div class="well">
                <div class="view">
                    <iframe height=498 width=510 src='http://player.youku.com/embed/XMTY3Mjg0NTEwNA==' frameborder=0 'allowfullscreen'></iframe>
                </div>
                <div class="item-info">
                    <a href="#" title="" class="item-title">中国好声音</p>
                    <p class="item-buttons">
                        <a href="#" class="btn btn-info tip" title="Edit"><i class="icon-pencil"></i></a>
                        <a href="#" class="btn btn-danger tip" title="Move to trash"><i class="icon-trash"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="span3">
        <div class="video widget">
            <div class="well">
                <div class="view">
                    <iframe src="http://www.youtube.com/embed/A3PDXmYoF5U"></iframe>
                </div>
                <div class="item-info">
                    <a href="#" title="" class="item-title">测试视频002</p>
                    <p class="item-buttons">
                        <a href="#" class="btn btn-info tip" title="Edit"><i class="icon-pencil"></i></a>
                        <a href="#" class="btn btn-danger tip" title="Move to trash"><i class="icon-trash"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="span3">
        <div class="video widget">
            <div class="well">
                <div class="view">
                    <iframe src="http://www.youtube.com/embed/GUEZCxBcM78"></iframe>
                </div>
                <div class="item-info">
                    <a href="#" title="" class="item-title">测试视频003</p>
                    <p class="item-buttons">
                        <a href="#" class="btn btn-info tip" title="Edit"><i class="icon-pencil"></i></a>
                        <a href="#" class="btn btn-danger tip" title="Move to trash"><i class="icon-trash"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="span3">
        <div class="video widget">
            <div class="well">
                <div class="view">
                    <iframe src="http://www.youtube.com/embed/GLC2BrmcYTY"></iframe>
                </div>
                <div class="item-info">
                    <a href="#" title="" class="item-title">测试视频005</p>
                    <p class="item-buttons">
                        <a href="#" class="btn btn-info tip" title="Edit"><i class="icon-pencil"></i></a>
                        <a href="#" class="btn btn-danger tip" title="Move to trash"><i class="icon-trash"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /video with titles -->

{% endblock %}

{% block tailscript %}

<script>
    //untoggleSidebarItems();
    //$("#navadd").toggleClass("active");
</script>

{% endblock %}